body {
  height: auto;
  -webkit-transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  -moz-transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  -o-transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  transition: all 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0;
  -moz-transition: all 0.2s ease-out;
  background-color: #f5f6f7;
  font-family: 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
a {
  text-decoration: none;
  color: #808080;
}
a:hover {
  text-decoration: none;
}

.seven-nav {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}

.seven-nav .navbar-toggle .icon-bar {
  background-color: #555;
}

.seven-nav .navbar-brand {
  font-weight: 500;
  text-align: center;
}
.seven-nav .navbar-nav > li > a {
  color: #383838;
  font-size: 16px;
  margin-left: 20px;
}
.seven-nav .navbar-nav > li > a:hover,
.seven-nav .navbar-nav > li > a:focus {
  color: #428bca;
  background-color: transparent;
}
.seven-nav .navbar-nav > li.active > a {
  color: #428bca;
}
.seven-header, .seven-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAQACAIAAAAP+8yGAAACoklEQVR4Xu3dwQ0CMQxEUTtKvbRCC3RqjtwR3g3WSwP/MDOObaIlH89XdJ4VzQcAACBiZzcgMvs1AAAAAFCu3WiR3YCYcKMBACh2AKopgFJBA7Xoo4Fip1TQAEAtkmQASXZlalsAJLk/aC59AICdSQNJ7ge4DwRN0ORAbypociAHgsamliHWmlwkB7oKnZ0caH7lQA40v3LApmqRHPiBAsBCSvsOYCHFpuZkfZEcsCmbsqn2/XSbchGAHLApm3q9D6Cz07YAaB19oZWLaCAHbHoiwBf52BRADtiUTb1KAJAD384B8Gkbzx4APOyWAwAjlKCx6eQky4GgyYGgCZocAAiapSCAoLkPJBnA03QASZZkGgAoFVpHczKAWmQIVIsAAOxNARQ7AAB9kUEcQLn+/gCopgAAbjQ3Gg1cOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANV8aAAAAADwi7Pr/5+DVt2tAQAAgGK3I6oZUANEBgDQtigVACFoYQBhUwBBEzQAORA0NmVTOWBTADYlMptyEQCbEhnAOzsALjpPA88e6rJ3FUTmIi7Sm3IRF3ERkS1miaxUEFmpILJSURN6UyIT2QhlALHxIjKRiUxk+yKTPpGJbNInMpEN4sMARAawDBG06SIL2goi21UIGpFpcJlNjbFENuEQmQY0MGUaQEyZRBY0QRM0U6YpkwZEFjTrHFMmDTS/RCayKdOUacoUNH+4I2hENmX2AIhMZGMskWlgjCUyke2LNF5EJjINiExkGy8bL8uQCSIbxIlspcZFJn0iE1mpsEogsjGWi7iIi4jMRVzERfamAJaC52sAwEUANl5sCsCmXGRG89e6bEoDOWBTADmQAwBBk4MRAABJFjQAAIBqPvdrAPAGv7GBbaSCtb0AAAAASUVORK5CYII=");
  background-size: contain;
  background-attachment: fixed;
  color: #EEE;
  padding: 15px 0;
}
.seven-header h1 {
  font-size: 60px;
  color: #fff;
}
.seven-header p {
  font-weight: 500;
  line-height: 1.4;
}

.seven-main {
  margin-top: 20px;
}
.seven-main .post {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.seven-main .post .title {
  line-height: 1.2em;
  color: #383838;
}
.seven-main .post .thumbnail {
  width: 100%;
  height: 120px;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.seven-main .post .page-header {
  margin: 0;
  padding-bottom: 5px;
}
.seven-main .post .page-header h1 {
  margin: 0;
}
.seven-main .post .content {
  font-size: 16px;
  line-height: 1.7em;
  word-break: break-word;
  word-wrap: break-word;
}
.seven-main .post .content p {
  font-size: 16px;
  color: #383838;
  margin: 0.6em 0;
}
.seven-main .post time {
  font-size: 12px;
}
.seven-main .post .tag{
  color: #a6a6a6;
  font-size: 12px;
  margin-right: 15px;
  font-style: italic;
  text-transform: uppercase;
}
.seven-main .postlist .pager {
  padding-left: 15px;
  padding-right: 15px;
}

.seven-info {

}
.seven-info h2 {
  font-size: 16px;
}
.seven-info ul {
  list-style: none;
  padding-left: 10px;
}
.seven-info ul li {
  display: block;
  float: left;
  width: 130px;
  height: 20px;
  margin: 0 10px 10px 0;
}
.seven-info ul li .tag {
  text-transform: uppercase;
}
.seven-info a {
  color: #fff;
  text-decoration: none;
}
.seven-info a:hover {
  text-decoration: underline;
}

.seven-footer {
  padding: 20px 0;
}
.seven-footer a {
  color: #333;
}

@media (min-width: 768px) {
  .seven-main .post .thumbnail {
    height: 240px;
  }
  .seven-main .postlist .pager {
    padding-left: 0;
    padding-right: 0;
  }
  .seven-header, .seven-info {
    padding: 30px 0;
  }
}
